
.firstBook {
    height: 47%;
    width: 21%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    opacity: 1;
    margin: 1%;
}
.firstBook:hover{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);}

.booksImage {
    height: 60%;
    width: 100%;
    border: 1px solid #E2E2E2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.imageBook {
    height: 80%;
    width: 60%;
}

.bookContent {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bookTitle {
    height: 15%;
    width: 134%;
    display: flex;
    align-items: center;
    margin-left: 8%;
    font-size: small;
    font-weight: bolder;
}

.authorName {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 8%;
    font-size: x-small;
}

.price,
.rating {
    height: 13%;
    width: 118%;
    display: flex;
    align-items: center;
    margin-left: 8%;
    font-size: small;
    font-weight: bolder;
    margin-bottom: 2%;
}
.rating{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    
}
.rating1{
    height: 150%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #388E3C 0% 0% no-repeat padding-box;
    color: #FFFFFF;
}
.star{
    margin-top: 9%;
    margin-left: -12%;
    height:220%;
    color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .firstBook{
        width: 75%;
        height: 10%;
    }   
}